

body{
    
    font-size: 20px;
    background-color: black;
    color: blanchedalmond;
    font-family: 'Neue Helvetica W01', 'AXIS Font Japanese W55', 'Helvetica Neue', sans-serif;;
}

dd{
  display: none;
}
#how{
  cursor: pointer;

}
h2{
  text-align: center;
}

.box1{
  display: flex;
}

.textbox{
  margin: 15px;
}

header{
    display:flex;
    justify-content: space-between;
    margin: 15px;
    font-size: 20px;
}
.main-img{
    background-image: url('../img/photo-1560259324-12a044e67c34.jpeg');
    background-size: cover;
    height: 1000px;
    text-align: center;
}
.main-img h1{
    padding-top: 500px;
    color:white;
    text-shadow:5px 5px 5px black 
}
.container1{
    height: 1000px;
    /* background: linear-gradient( #06223a,black ) fixed; */
}
.container2{
    height: 1000px;
    
    /* background: linear-gradient( #051e35,black ) fixed; */
}
.container4 img{
    float: right;
    width: 70%;
}
.container3{
    height: 1000px;
    /* background: linear-gradient( #021322,black ) fixed; */

}

.container4{
    height: 1000px;
    /* background: linear-gradient( #010a12,black ) fixed; */

}

.container5{
    height: 1000x;
    /* background: black; */

}
.container5 img{
    width: 30%;
}


.loader,
.loader:before,
.loader:after {
  background: #002ff1;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
}
.loader {
  color: #002ff1;
  text-indent: -9999em;
  /* height: 100vh; */
  margin: 400px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
